{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="row">
        {% if request.path == '/' %}
            {% include 'includes/navpanel.html' with home_navpanel='active' %}        
        {% elif request.path == '/top/' %}
            {% include 'includes/navpanel.html' with top_navpanel='active' %}        
        {% endif %}
        <div id="posts" class="col-6 mx-auto">
            {% include 'includes/inputpost.html' %}
            {% if request.path == '/top/' %}
                <div class="fw-bold fs-2 mb-2">Top posts</div>
            {% endif %}
            <ul id="posts-list">
                {% if posts %}
                    {% for post, likes, isLiked, comments in posts %}
                        <li id="post-{{ post.id }}">
                            <div class="card mb-4">
                                <div class="card-body ps-4 pe-5">
                                    <a href="{% url 'post' post.id %}" style="text-decoration: none; color: inherit;">
                                        <div class="row mb-2">
                                            <div class="post-time">
                                                Posted by 
                                                {% if post.author == request.user %}
                                                    you
                                                {% else %}
                                                someone 
                                                {% endif %}
                                                {{ post.date_posted|timesince }} ago
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="post-title">
                                                {{ post.title }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="post-content">
                                                {{ post.content|truncatewords:50 }}
                                            </div>
                                        </div>
                                    </a>
                                    <hr>
                                    <div class="row">
                                        <div class="post-buttons d-flex">
                                            <form method="POST" action="{% url 'like_post' post.id %}" class="like-form">
                                                {% csrf_token %}
                                                <button type="submit" id="like-button-{{ post.id }}"
                                                {% if isLiked %}
                                                    class="btn btn-secondary btn-sm me-2"
                                                {% else %}
                                                    class="btn btn-outline-secondary btn-sm me-2"
                                                {% endif %}><i class="bi bi-hand-thumbs-up"></i> <span id="likes-count-{{ post.id }}">{{ likes }}</span> Likes</button>
                                            </form>
                                            <a href="{% url 'post' post.id %}" class="btn btn-outline-secondary btn-sm me-2"><i class="bi bi-chat-left"></i> {{ comments }} Comments</a>
                                            <div class="btn btn-outline-secondary btn-sm me-2"><i class="bi bi-share"></i> Share</div>
                                            <div class="dropdown ms-auto">
                                                <button class="btn btn-outline-none btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                                    {% if post.author == request.user %}
                                                        <li><a class="dropdown-item" href="{% url 'edit_post' post.id %}">Edit</a></li>
                                                    {% endif %}
                                                    <li><button class="dropdown-item" onclick="report('post', {{ post.id }})">Report</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            {% if page_obj.paginator.num_pages > 1 %}
                <nav class="mb-3">
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        <li class="page-item"><a class="page-link
                        {% if page_obj.number == i %}
                            active
                        {% endif %}
                        " href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <script src="{% static 'js/posts.js' %}"></script>
        {% include 'includes/roompanel.html' with home_navpanel='active' %}      
    </div>     
{% endblock content %}