<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 text-center px-0" style="font-size: 25px">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="col-md-11 ps-0 pe-3">
              <input id="create-post" class="form-control" placeholder="Write a post anonymously">
            </div>
          </div>                      
    </div>
</div>
{% load static %}
<script src="{% static 'js/create_post.js' %}"></script>