<div id="room-panel" class="col-3 text-center px-5">
    <div id='loader'>
        Loading...
    </div>
    <div id="request" style="display: none;">
        <div class="btn btn-outline-blue d-flex align-items-center mb-2">
            <i class="bi bi-chat-dots"></i>
            <div class="flex-grow-1 d-flex align-items-center justify-content-center">
              <span>Request Room</span>
            </div>
        </div>
    </div>
    <div id="respond" style="display: none;">
        <div class="btn btn-outline-blue d-flex align-items-center mb-2">
            <i class="bi bi-search-heart"></i>
            <div class="flex-grow-1 d-flex align-items-center justify-content-center">
              <span>Respond Room</span>
            </div>
        </div>
    </div>
    <div id="enter" style="display: none;">
        <a id="enter-anchor" class="btn btn-outline-blue d-flex align-items-center mb-2{% if not room.responder %} disabled{% endif %}
        " {% if room %}href="{% url 'room' room_name=room.name %}"{% endif %}>
            <i class="bi bi-box-arrow-in-right"></i>
            <div class="flex-grow-1 d-flex align-items-center justify-content-center">
              Enter Room
            </div>
        </a>
    </div>
    <div id="close" style="display: none;">
        <a id="enter-anchor" class="btn btn-outline-danger d-flex align-items-center mb-2">
            <i class="bi bi-x-square"></i>
            <div class="flex-grow-1 d-flex align-items-center justify-content-center">
              Close Room
            </div>
        </a>
    </div>
</div>
<div class="toast-container position-fixed top-50 start-50 translate-middle-x p-3">
    <div id="roomToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            No room found. You can try to request one!
        </div>
    </div>
  </div>    
{% load static %}
<script src="{% static 'js/roompanel.js' %}"></script>