{% extends 'base.html' %}
{% load static %}
{% block title %}Chat Anonimously | {% endblock title %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="row">
        {% include 'includes/navpanel.html' %}           
        <div class="col-6 mx-auto">
            <div id="chat-panel" class="mx-auto">
            </div>
            <div class="input-group my-2 mb-3">
                <input type="text" class="form-control" id="message-input" placeholder="Type your message here" aria-label="Type your message here" aria-describedby="button-addon2">
                <button class="btn btn-outline-blue" type="button" id="message-send"><i class="bi bi-send"></i></button>
            </div>
        </div>
        <div id="chat-buttons" class="col-3 text-center px-5">
            <div id="end">
                <div class="btn btn-outline-danger d-flex align-items-center mb-2">
                    <i class="bi bi-box-arrow-left"></i>
                    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                      <span>End Conversation</span>
                    </div>
                </div>
            </div>
            <div id="report">
                <div class="btn btn-outline-blue d-flex align-items-center mb-2" data-bs-toggle="modal" data-bs-target="#reportRoomModal">
                    <i class="bi bi-exclamation-circle"></i>
                    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                      <span>Report</span>
                    </div>
                </div>
            </div>
            
            <div id="reveal">
                <div class="btn btn-outline-blue d-flex align-items-center mb-2">
                    <i class="bi bi-eye"></i>
                    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                      <span>Reveal</span>
                    </div>
                </div>
            </div>
            <div id="reveal-card" style="display: none;">
                <div class="card mt-2">
                    <img id="stranger-picture" src="..." class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li id="identity-first" class="list-group-item">An item</li>
                        <li class="list-group-item"><i class="bi bi-instagram"></i> <span id="identity-second"></span></li>
                        <li class="list-group-item"><i class="bi bi-twitter"></i> <span id="identity-third"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="reportRoomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Report</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="report-input" placeholder="Please provide the reason for the report">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="report-toast-trigger btn btn-blue" onclick="report('room', '{{ room.name }}', document.getElementById('report-input').value)" type="button" class="btn btn-blue" data-bs-dismiss="modal">Report</button>
                </div>
            </div>
        </div>
    </div>   
    {{ room.name|json_script:"room-name" }}
    {{ user.username|json_script:"user" }}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock content %}