{% extends 'base.html' %}
{% block title %}Chat{% endblock title %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>{{ post.date_posted }}</p>
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <p>{{ comment.date_posted }}</p>
    {% endfor %}
    <form method="POST" action="{% url 'create_comment' post.id %}">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add Comment">
    </form>
{% endblock content %}