{% extends 'base.html' %}
{% block title %}Chat{% endblock title %}
{% block content %}
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ user.username|json_script:"user" }}
    <button onclick="disconnect()">Back to Home</button>
    <button onclick="destroy()">End Conversation</button>
    <script>
        window.onload = function() {
            document.querySelector('#chat-log').value = 'Welcome to the chat room!\n';
        };
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user = JSON.parse(document.getElementById('user').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.message) {
                document.querySelector('#chat-log').value += (data.user + ': ' + data.message + '\n');
            } else {
                alert("User has left the chat room");
                disconnect();
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'user': user,
                'message': message
            }));
            messageInputDom.value = '';
        };

        function disconnect() {
            chatSocket.close();
            window.location.href = '/';
        }

        function destroy() {
            chatSocket.send(JSON.stringify({
                'user': user,
                'destroy': 1
            }));
            disconnect();
        }
    </script>
{% endblock content %}